/*------------------- about me page ----------------------------- */
.main__tittle2{
    text-align: center;
    font-size: 25px;
    margin-block: 20px;
}
.main__certificate{
    display: flex;
    justify-content: center;
    width: 200px;
}
.main__photo{
    text-align: center;
    margin-bottom: 10px;
}
.main__photo img{
    width: 200px;
}