/*------------------- skills page ----------------------------- */
.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
    height: auto;
}
.timeline__container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 0.5s linear forwards;
    opacity: 0;
}
@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.timeline__container:nth-child(1){
    animation-delay: 0s;
}
.timeline__container:nth-child(2){
    animation-delay: 0.5s;
}
.timeline__container:nth-child(3){
    animation-delay: 1s;
}
.timeline__container:nth-child(4){
    animation-delay: 1.5s;
}
.timeline__container:nth-child(5){
    animation-delay: 2s;
}
.timeline__container:nth-child(6){
    animation-delay: 2.5s;
}
.timeline__container:nth-child(7){
    animation-delay: 3s;
}
.timeline__container:nth-child(8){
    animation-delay: 3.5s;
}
.timeline__container:nth-child(9){
    animation-delay: 4s;
}
.dot {
    position: absolute;
    width: 40px;
    right: -20px;
    top: 32px;
    height: 40px;
    background-color: orangered;
    border-radius: 50%;
    display: inline-block;
}
.container__text{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 30px;
    background-color: black;
    border-radius: 6px;
    position: relative;
    font-size: 1.5rem;
    color: white;
}
.left__container{
    left: 0%;
}
.right__container{
    left: 50%;
}
.right__container .dot{
    left: -20px;
}
.timeline::after{
    content: '';
    position: absolute;
    width: 18px;
    height: 100%;
    background-color: orangered;
    top: 0;
    left: 50%;
    margin-left: -9px;
    border-radius: 10px 10px 10px 10px;
    animation: moveline 4s linear forwards;
}
@keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}
.left__arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid black;
    right: -15px;
}
.right__arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid black;
    left: -15px;
}